* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

input, button {
	border: 0;
	background-color: transparent;
	font-family: arial;
	font-size: 16px;
}

button {
	cursor: pointer;
}

body {
	font-family: arial;
	font-size: 16px;
	line-height: 21px;
	color: #333;

	padding: 50px;
	background-color: #ededed;
}

.app {
	max-width: 640px;
	background-color: #fff;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 20px #ccc;
}

.app__btn {
	background-color: #999;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 10px;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	color: #333;
}

.app__btn-add {
	font-size: 22px;
}

.app__btn:hover {
	background-color: #333;
	color: #fff;
}

.app__form {
	display: flex;
	gap: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

.app__form input {
	border: 1px solid #999;
	border-radius: 5px;
	padding: 5px 15px;

	width: 100%;
}

.app__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.app__item {
	display: flex;
	gap: 15px;
}

.app__word_btns {
	margin-left:  auto;
	display: flex;
	gap: 10px;
}

.app__word_rus {
	color: #369;
}

.app__word_en {
	color: #369;
	font-weight: bold;
}