* {margin: 0;	padding: 0;}
*,*:before,*:after{box-sizing: border-box;}
a,a:visited,a:hover{text-decoration: none;}
ol, ul, li{list-style: none;}

body {
	padding: 50px 10%;
}

.accordion {
	background-color: #ccc;
	padding: 10px;
	border-radius: 10px;
}

.accordion__list {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.accordion__title {
	background-color: #38938f;
	color: #fff;
	border-radius: 5px;
	padding: 5px 10px;

	font-size: 14px;
}

.accordion__title:hover,
.accordion__item.active .accordion__title {
	background-color: #006762;
	cursor: pointer;
}

.accordion__content {
	display: none;

	padding: 10px;
	font-size: 14px;
	line-height: 18px;
}

.accordion__item.active .accordion__content {
	display: block;
}